body {
    font-family: sans-serif;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

h3 {
    text-transform: uppercase;
    font-weight: 900;
}

label {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px auto;
}

.task-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-div {
    border: 1px solid gray;
    width: 100%;
    height: 50px;
    padding: 5px;
}

.task-p {
    border: 1px solid gray;
    width: 100%;
    height: 50px;
    padding: 5px;
}


