.input {
    display: block;
    margin: 1rem auto;
    width: 30rem;
    height: 4rem;
    font-size: 1.4rem;
    text-indent: 1rem;
}

.label {
    display: block;
    margin: 10rem auto 0 auto;
    width: 30rem;
    font-size: 1.2rem;
}

.result {
    font-size: 2rem;
    font-weight: 700;
    text-indent: 2rem;
    display: block;
    text-align: center;
}
